repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        additional_dependencies:
          - fastapi==0.123.0
          - alembic==1.17.2
          - dishka==1.7.2
          - pydantic==2.12.5
          - pydantic-settings==2.12.0
          - pydantic[email]==2.12.5
          - sqlalchemy==2.0.44
          - uvicorn[standard]==0.38.0
          - prometheus-fastapi-instrumentator==7.1.0
          - pytest
          - pytest-asyncio>=1.3.0
          - pytest-mypy-plugins>=3.2.0
          - python-jose[cryptography]==3.5.0
          - types-python-jose>=3.5.0.20250531
          - bcrypt==5.0.0
          - cashews==7.4.3
          - httpx>=0.28.1